server:
  port: 8085

spring:
  application:
    name: ai-service

GEMINI_API_KEY: ${GEMINI_API_KEY:YOUR_DEFAULT_KEY_HERE}
APPLICATION_EVENT_SERVICE_URL: ${APPLICATION_EVENT_SERVICE_URL:http://event-service:8084}
